:root {
	--navy: #334c74;
	--lt-navy: #39517b;
	--baby-blue: #afc4e9;

	--red: #eb0000;
	--pink: #ffabab;

	--green: #388529;
	--mint: #a4e997;

	--rust: #c25700;
	--pumpkin: #ffb070;

	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
}
