:root {
	--white: #fff;
	--black: #222;
	--navy: #022859;
	--gray: #eaeaea;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-size: 100%;
	line-height: 1.65;
	color: var(--white);
	background-color: var(--navy);
}

p {
	margin: 0 0 1rem;
}

svg {
	display: block;
	width: 2rem;
	height: 2rem;
	stroke: var(--black);
}

button {
	border: none;
	background-color: transparent;
}

a {
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--navy);
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: var(--navy);
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	background-color: var(--white);
	z-index: 0;
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.menu_button {
	display: none;
}

.main {
	padding: 1rem;
}

@media (max-width: 600px) {
	.header {
		padding: 0.25rem;
	}

	.menu_button {
		display: block;
		padding: 0.5rem;
		margin: 0.25rem 0.25rem 0.25rem auto;
		cursor: pointer;
		background-color: transparent;
		border-radius: 5px;
		transition: background-color 300ms ease-in-out;
	}

	.open_button {
		margin: 0 0 0 auto;
	}

	.menu_button:focus,
	.menu_button:hover,
	.menu_button:active {
		background-color: var(--navy);
	}

	.menu_button svg {
		stroke: var(--navy);
		transition: stroke 300ms ease-in-out;
	}

	.menu_button:focus svg,
	.menu_button:hover svg,
	.menu_button:active svg {
		stroke: var(--white);
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		max-width: 100%;
		overflow-y: scroll;
		height: 100dvh;
		box-shadow: none;
		background-color: var(--white);
		transform: translateX(0);
		z-index: 3;
		transition: transform 300ms ease-in-out, visibility 300ms ease-in-out;
	}

	.main_nav {
		flex-direction: column;
		gap: 0;
		border-top: 1px solid var(--gray);
	}

	.main_nav li {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid var(--gray);
	}

	.main_nav a {
		display: block;
		padding: 1rem;
	}

	.menu_active .navigation {
		visibility: visible;
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 10%);
		transform: translateX(300px);
	}

	.menu_active .open_button {
		visibility: hidden;
	}
}
